<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>کانون زبان ایران</title>
    <% include /src/include/styles.ejs %>
</head>

<body  class="Site">

    <% include /src/include/header.ejs %>

      <main class="Site-content">
      <!-- section-1 -->
        <section class="languages">
          <div class="container">
            <ul>
              <li>
                <a href="#"><span>English</span><span class="abbr">En</span></a>
              </li>
              <li>
                <a href="#"><span>Deutsch</span><span class="abbr">De</span></a>
              </li>
              <li>
                <a href="#"><span>italiana</span><span class="abbr">It</span></a>
              </li>
              <li>
                <a href="#"><span>русский</span><span class="abbr">Ru</span></a>
              </li>
              <li>
                <a href="#"><span>français</span><span class="abbr">Fr</span></a>
              </li>
              <li>
                <a href="#"><span>española</span><span class="abbr">Es</span></a>
              </li>
              <li>
                <a href="#"><span>عربی</span><span class="abbr">Ar</span></a>
              </li>
              <li>
                <a href="#"><span>汉语</span><span class="abbr">Zh</span></a>
              </li>
              <li>
                <a href="#"><span>فارسی</span><span class="abbr">Fa</span></a>
              </li>
            </ul>
          </div>
        </section>
        <!-- section-2 -->
        <section class="news">
          <div class="container">
            <div class="nav-title">
              <ul>
                <li class="active"><a href="#">اخبار ویژه</a></li>
                <li><a href="#">اخبار مراکز آموزشی</a></li>
                <li><a href="#">اخبار آزمون‌ها</a></li>
                <li><a href="#">اخبار داخلی</a></li>
                <li><a href="#">سایر اخبار</a></li>
              </ul>
            </div>
            <div class="body-news">
              <div class="news-item col-lg-5 col-md-5">
                <div class="item-1">
                  <img src="./images/وبینار-سراسری-مدیران-کانون-زبان-ایران-آغاز-شد.jpeg" alt="">
                </div>
                <div class="item-2">
                  <a href="#">وبینار سراسری مدیران کانون زبان ایران آغاز شد</a>
                </div>
              </div>
              <div class="news-item col-lg-7 col-md-7">
                <div class="items">
                  <div class="img-box">
                    <img src="./images/۵-و-۷-اسفندماه-امتحان-میان-ترم-غایبان-در-گروه-های-نوجوان-و-بزرگسال-زبان-های-غیرانگلیسی-برگزار-می-شود.jpeg" alt="">
                  </div>
                  <div class="text-box">
                    <a href="#">۵ و ۷ اسفندماه، امتحان میان ترم غایبان در گروه‌های نوجوان و بزرگسال زبان‌های غیرانگلیسی...</a>
                    <p>امتحان میان ترم غایبان در گروه‌های نوجوان و بزرگسال زبان‌های غیرانگلیسی زمستان...</p>
                    <span>۰۴ اسفند ۱۴۰۰</span>
                  </div>
                </div>
                <hr>
                <div class="items">
                  <div class="img-box">
                    <img src="./images/سرپرست-کانون-زبان-استان-آذربایجان-غربی-منصوب-شد.jpg" alt="">
                  </div>
                  <div class="text-box">
                    <a href="#">سرپرست کانون زبان استان آذربایجان غربی منصوب شد</a>
                    <p>دکتر غلامرضا کیانی، رییس کانون زبان ایران طی حکمی پرنا فیضی را به عنوان سرپرست...</p>
                    <span>۰۳ اسفند ۱۴۰۰</span>
                  </div>
                </div>
                <hr>
                <div class="items">
                  <div class="img-box">
                    <img src="./images/۵-اسفندماه-امتحان-میان-ترم-غایبان-در-گروه-نوجوان-و-بزرگسال-زبان-انگلیسی.jpeg" alt="">
                  </div>
                  <div class="text-box">
                    <a href="#">۵ اسفندماه، امتحان میان ترم غایبان در گروه نوجوان و بزرگسال زبان انگلیسی</a>
                    <span>۰۲ اسفند ۱۴۰۰</span>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </section>
        <!-- section-3 -->
        <aside>
          <div class="container">
            <div class="col-lg-4 col-md-1">
              <img src="./images/student.png" alt="">
              <div class="text">
                <p>۱،۲۰۰،۰۰۰ هزار زبان آموز</p>
                <p>مفتخر به بیان آن هستیم</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-1">
              <img src="./images/lang.png" alt="">
              <div class="text">
                <p>آموزش ۹ زبان زنده دنیا</p>
                <p>مفتخر به بیان آن هستیم</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-1">
              <img src="./images/map.png" alt="">
              <div class="text">
                <p>حضور در ۳۱ استان </p>
                <p>مفتخر به بیان آن هستیم</p>
              </div>
            </div>
          </div>
        </aside>
        <section class="about">
          <div class="container">
            <ul class="about-boxes">
             <li>
               <a href="#">
                 <img src="./images/دوره-تربیت-حرفه-ای-مدرس-TTC.jpg" alt="">
                 <div class="slider-title">
                   <span>دوره تربیت حرفه‌ای مدرس (TTC)</span>
                 </div>
              </a>
              </li>
             <li>
              <a href="#">
                <img src="./images/دوره-مکالمه-ویژه.jpg" alt="">
                <div class="slider-title">
                  <span>دوره مکالمه ویژه</span>
                </div>
             </a>
             </li>
             <li>
              <a href="#">
                <img src="./images/سامانه-ایلیا-کانون-زبان-ایران-به-زودی.jpg" alt="">
                <div class="slider-title">
                  <span>سامانه ایلیا - کانون زبان ایران </span>
                </div>
             </a>
             </li>
             <li>
              <a href="#">
                <img src="./images/آموزش-زبان-با-اهداف-ویژه.jpg" alt="">
                <div class="slider-title">
                  <span>آموزش زبان با اهداف ویژه</span>
                </div>
             </a>
             </li>
            </ul>
          </div>
        </section>
        <!-- section-4 -->
        <section class="contact">
          <div class="container">
            <div class="row">
              <div class="box col-lg-4 col-md-6 col-sm-12">
                <img src="./images/ارسال-مشکلات.png" alt=""><a href="#">ارسال مشکلات</a>
                <p>مشکلات خود را با پر کردن فرم مربوطه برای ما ارسال کنید</p>
              </div>
              <div class="box col-lg-4 col-md-6 col-sm-12">
                <img src="./images/گالری.png" alt=""><a href="#">گالری</a>
                <p>گالری تصاویر، ویدیو و فایل های صوتی نشریات کمک آموزشی</p>
              </div>
              <div class="box col-lg-4 col-md-6 col-sm-12">
                <img src="./images/وبلاگ-ها.png" alt=""><a href="#">وبلاگ ها</a>
                <p>وبلاگ های تمام مراکز آموزشی در استان های کشور را مشاهده کنید</p>
              </div>
              <div class="box col-lg-4 col-md-6 col-sm-12">
                <img src="./images/اطلاعات-مراکز (1).png" alt=""><a href="#">اطلاعات مراکز</a>
                <p>نمایش اطلاعات مرکز آموزشی مورد نظر شما</p>
              </div>
              <div class="box col-lg-4 col-md-6 col-sm-12">
                <img src="./images/پیوندها.png" alt=""><a href="#">پیوندها</a>
                <p>لینک وبسایت ها مرتبط</p>
              </div>
              <div class="box col-lg-4 col-md-6 col-sm-12">
                <img src="./images/شبکه-های-اجتماعی.png" alt=""><a href="#">شبکه های اجتماعی</a>
                <p>شبکه های اجتماعی کانون زبان ایران</p>
              </div>
            </div>
          </div>
        </section>
      </main>
  
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>

</body>
</html>