<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>کانون زبان ایران</title>
    <% include /src/include/styles.ejs %>
</head>

<body  class="Site">

    <% include /src/include/header.ejs %>

      <main class="Site-content">
        <section class="languages">
          <div class="container">
            <ul>
              <li>
                <a href="#"><span>English</span><span class="abbr">En</span></a>
              </li>
              <li>
                <a href="#"><span>Deutsch</span><span class="abbr">De</span></a>
              </li>
              <li>
                <a href="#"><span>italiana</span><span class="abbr">It</span></a>
              </li>
              <li>
                <a href="#"><span>русский</span><span class="abbr">Ru</span></a>
              </li>
              <li>
                <a href="#"><span>français</span><span class="abbr">Fr</span></a>
              </li>
              <li>
                <a href="#"><span>española</span><span class="abbr">Es</span></a>
              </li>
              <li>
                <a href="#"><span>عربی</span><span class="abbr">Ar</span></a>
              </li>
              <li>
                <a href="#"><span>汉语</span><span class="abbr">Zh</span></a>
              </li>
              <li>
                <a href="#"><span>فارسی</span><span class="abbr">Fa</span></a>
              </li>
            </ul>
          </div>
        </section>
        <section class="news">
          <div class="container">
            <div class="nav-title">
              <ul>
                <li class="active"><a href="#">اخبار ویژه</a></li>
                <li><a href="#">اخبار مراکز آموزشی</a></li>
                <li><a href="#">اخبار آزمون‌ها</a></li>
                <li><a href="#">اخبار داخلی</a></li>
                <li><a href="#">سایر اخبار</a></li>
              </ul>
            </div>
            <div class="body-news">
              
              <div class="news-item col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="item item-1">
                  <img src="./images/وبینار-سراسری-مدیران-کانون-زبان-ایران-آغاز-شد.jpeg" alt="">
                </div>
                <div class="item item-2">
                  <span>وبینار سراسری مدیران کانون زبان ایران آغاز شد</span>
                </div>
              </div>
              <div class="news-item col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                <div class="items">
                  <div class="img-box">
                    <img src="" alt="">
                  </div>
                  <div class="text-box">
                    <h2></h2>
                    <p></p>
                    <span></span>
                  </div>
                </div>
                <div class="items">
                  <div class="img-box">
                    <img src="" alt="">
                  </div>
                  <div class="text-box">
                    <h2></h2>
                    <p></p>
                    <span></span>
                  </div>
                </div>
                <div class="items">
                  <div class="img-box">
                    <img src="" alt="">
                  </div>
                  <div class="text-box">
                    <h2></h2>
                    <p></p>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
  
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>

</body>
</html>