<footer>
    <div class="container">
        <div class="parent">
            <div class="row">
                <div class="child col-lg-3 col-md-6 col-sm-12">
                    <div class="title"><span>درباره ما ______</span></div>
                    <div class="inner">
                        <span>کانون زبان ایران به عنوان معتبرترین، قدیمی‌ترین و بزرگترین مؤسسه‌ آموزش زبان‌های خارجی در ایران از سال 1304 تحت عنوان انجمن ایران و آمریکا در تهران شروع به فعالیت کرده است.<a href="#" class="text-secondary">ادامه...</a></span>
                    </div>
                </div>
                <div class="child col-lg-3 col-md-6 col-sm-12">
                    <div class="title"><span>تماس با ما ______</span></div>
                    <div class="inner">
                        <ul>
                            <li><span style="width: 45px;"><i class="fa-solid fa-location-dot"></i></span>
                                <p>
                                    نشانی: تهران- خیابان استاد مطهری - خیابان فجر - شماره 33</p></li>
                            <li><span><i class="fa-solid fa-phone"></i></span><p>
                                تلفن : ۴-۸۸۳۰۸۰۳۲-۰۲۱</p></li>
                            <li><span><i class="fa-solid fa-fax"></i></span>
                                <p>
                                    فکس :۸۸۸۴۴۴۸۶-۰۲۱</p></li>
                            <li><span><i class="fa-solid fa-inbox"></i></span><p>
                                صندوق پستی: 6368-14155</p></li>
                            <li><span><i class="fa-solid fa-address-card"></i></span><p>
                                کد پستی: 1589793413</p></li>
                        </ul>
                    </div>
                </div>
                <div class="child col-lg-3 col-md-6 col-sm-none">
                    <div class="title"><span>راهنما ______</span></div>
                    <div class="inner">
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-left"></i>نقشه سایت</a></li>
                            <li><a href="#"><i class="fa fa-angle-left"></i>دفترچه های راهنمای زبان آموزان</a></li>
                            <li><a href="#"><i class="fa fa-angle-left"></i>مقررات انضباطی-آموزشی</a></li>
                            <li><a href="#"><i class="fa fa-angle-left"></i>پرسش های متداول</a></li>
                        </ul>
                    </div>
                </div>
                <div class="child col-lg-3 col-md-6 col-sm-none">
                    <div class="title"><span>کارمندان و مدرسان ______</span></div>
                    <div class="inner">
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-left"></i>سامانه متمرکز</a></li>
                            <li><a href="#"><i class="fa fa-angle-left"></i>سامانه مدیران استان</a></li>
                            <li><a href="#"><i class="fa fa-angle-left"></i>فیش حقوقی کارکنان</a></li>
                            <li><a href="#"><i class="fa fa-angle-left"></i>سامانه کارشناسان و مدرسان</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer">
    <div class="container">
        <div class="boxes">
            <div class="box">کلیه حقوق این وب سایت متعلق به کانون زبان ایران می باشد.</div>
            <div class="box"><a href="#">طراحی سایت: رادکام</a></div>           
        </div>
    </div>
</div>
