<header>
    <div class="container">
        <div class="archaism-img">
            <img src="../images/کانون-زبان-ایران.png" alt="">
        </div>
        <div class="d-flex flex-wrap top-nav">
            <div>
                <a href="#"><i class="fa-solid fa-lock-open"></i><span>ورود همکاران</span></a>
            </div>
            <div>
                <form action="" method="get">
                    <input type="search" placeholder="    جستجو ...">
                    <button><i class="fa-solid fa-magnifying-glass" style="color: #fff; background-color: #149146;"></i></button>
                </form>
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-phone"></i></i><span>021-91070008</span></a>
            </div>
            <div id="sign-1"><a href="#"><i class="fa-solid fa-earth-americas"></i><span>انتخاب زبان</span></a>
            </div>
        </div>
        <div class="ili-img">
            <img src="../images/3383_orig.png" alt="">
        </div>
        <nav>
            <ul class="d-flex">
                <li><a href="#"><i class="fa-solid fa-house-chimney"></i></a></li>
                <li id="sign"><a href="#">خدمات آموزشی</a></li>
                <li><a href="#">محصولات</a></li>
                <li id="sign"><a href="#">همکاری با ما</a></li>
                <li id="sign"><a href="#">راهنما</a></li>
                <li id="sign"><a href="#">تماس با ما</a></li>
                <li id="sign"><a href="#">درباره ما</a></li>
                <li id="sign"><a href="#">دانلود</a></li>
                <li id="sign"><a href="#">کارمندان و مدرسان</a></li>
            </ul>
        </nav>
    </div>
    <hr>
    <div class="container two-asides">
        <div class="aside">
            <h1>کانون زبان ایران</h1>
            <h2>کانون زبان ایران</h2>
            <div class="d-flex items">
                <div class="item"><img src="../images/سامانه-جامع.png"><span>سامانه جامع</span></div>
                <div class="item active"><img src="../images/ثبت-نام.png"><span>ثبت نام</span></div>
                <div class="item"><img src="../images/آزمون-ها-و-گواهینامه-ها.png"><span>آزمون ها و وگواهینامه ها</span></div>
            </div>
        </div>
        <div class="aside aside-2">
            <div class="items">
                <div class="item"><img src="../images/کلاس-آفلاین.png" alt=""><span>کلاس آفلاین</span></div>
                <div class="item"><img src="../images/کلاس-آنلاین-بزرگسالان.png" alt=""><span>کلاس آنلاین بزرگسالان</span></div>
                <div class="item"><img src="../images/کلاس-آنلاین-کودکان-و-نوجوانان.png" alt=""><span>کلاس آنلاین کودکان و نوجوانان</span></div>
                <div class="item"><img src="../images/اطلاعات-مراکز.png" alt=""><span>اطلاعات مراکز</span></div>
                <div class="item"><img src="../images/استان-ها.png" alt=""><span>استان ها</span></div>
                <div class="item"><img src="../images/آزمون-های-آنلاین.png" alt=""><span>آزمون های آنلاین</span></div>
                <div class="item"><img src="../images/تقویم-ترمی.png" alt=""><span>تقویم ترمی</span></div>
                <div class="item"><img src="../images/اخبار.png" alt=""><span>اخبار</span></div>
                <div class="item"><img src="../images/شبکه-های-اجتماعی.png" alt=""><span>شبکه های اجتماعی</span></div>
            </div>
        </div>
    </div>
</header>